.wrapper {
  height: 500px;
  background-image: url(../images/img2.jpg);
  background-size: cover;
  background-position: center;
}

.header__title h1 {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  text-align: center;
  font-size: 6em;
  font-family: "Style Script", cursive;
  color: rgb(255, 255, 255);
  text-shadow: 3px 4px 0px rgb(255, 0, 0);
}

@media only screen and (min-width: 768px) {
  .header__title h1 {
    font-size: 9em;
  }
}
